{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Reset Your Password</h3>
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group text-center">
                            <input class="btn btn-info btn-lg rounded mt-4" value="Reset Password" type="submit">
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'account_login' %}">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
