{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Fraud Detection</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if fraud_transactions %}
        <h2>Detected Fraudulent Transactions</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product Name</th>
                    <th>Fraud Score</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in fraud_transactions %}
                    <tr>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.product_name }}</td>
                        <td>{{ transaction.fraud_score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
